<section>
<h2 class="text-center">遊び方</h2>
<ol>
<li>ログイン（ユーザー登録が必要です）</li>
<li>ルームを作成します</li>
<li>IDとパスワードを教えて参加者を集めます</li>
<li>ゲームの主役を決めてスタート（3人以上で開始できます）</li>
<li>出題と回答、投票を繰り返します</li>
</ol>
<p>※）ゲームの進行はルーム作成者が行います</p>
  <ul class="d-flex align-items-center list-unstyled">
    <% if user_signed_in? %>
      <li class="mr-2 btn btn-outline-primary"><%= link_to 'ルームを作成する', new_room_path %></li>
      <li class="mr-2 btn btn-outline-primary"><%= link_to 'ルームに参加する', rooms_path %></li>
    <% else %>
      <li class="mr-2 btn btn-outline-primary"><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
      <li class="mr-2 btn btn-primary"><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
    <% end %>
  </ul>
</section>