<footer>
  <div class='container'>
    <ul class="d-flex align-items-baseline list-unstyled">
      <li class="mr-2"><%= link_to '利用規約' %></li>
      <li class="mr-2"><%= link_to 'プライバシーポリシー' %></li>
      <li class="mr-2"><%= link_to 'お問い合わせ' %></li>
    </ul>
    <div class='copyright'>
      <p>© 2023 MimicQuiz</p>
    </div>
  </div>
</footer>