<div class="popup" id="js-popup">
  <div class="popup-content">
    <div class="popup-content_inner">
      <h3>質問サンプル</h3>
      <small>問題の例です。本人しか答えを知らない問題だと盛り上がります</small>
      <ul>
        <li>座右の銘は？</li>
        <li>好きな漫画/アニメのセリフは？</li>
        <li>一番好きなキャラクターは？</li>
        <li>最後に見たYoutubeの履歴の動画は？</li>
        <li>最近イライラしたことは？</li>
        <li>最近面白かったことは？</li>
        <li>今一番欲しいものは？</li>
        <li>お金の心配がなければ、一番してみたいことは？</li>
        <li>時間の心配がなければ、一番してみたいことは？</li>
        <li>自分のチャームポイントは？</li>
        <li>自分のコンプレックスは？</li>
        <li>言われて腹が立つ事は何？</li>
        <li>24時間だけ性別が変わったら何をする？</li>
        <li>小さい頃の夢は？</li>
        <li>好きな（理想の）異性のタイプは？</li>
        <li>タトゥーを彫るとしたら？</li>
        <li>今の記憶をもって0歳に戻るとしたら何をする？</li>
      </ul>
    </div>
    <a id="popup-close" href="#">閉じる</a>
  </div>
</div>