<div class="room-links">
  <ul>
    <% if current_user.owner?(@room) %>
      <li><%= link_to 'ルームを解散する', room_path, method: :delete, class: 'btn btn-outline-warning', data: {confirm: "解散しますか？"} %></li>
    <% else %>
      <li><%= link_to 'ルームを退出する', room_members_path(@room), method: :delete, data: {confirm: "退出しますか？"}, class: 'btn btn-outline-warning' %></li>
    <% end %>
  </ul>
</div>