/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "rooms";
@import "static_pages";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
   background: #f2f2f2;
   color: #241916;
   font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
   h2 {
      font-size: 1.6rem;
   }
   h3 {
      font-size: 1.3rem;
   }
}
.btn {
   background: #fff;
}
header,footer {
   padding: 10px 0;
   background: #ffd739;
   margin: 0;
}
header {
   .logo {
      font-size: 1.5rem;
   }
}
footer {
   text-align: center;
   .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
         margin: 0 10px;
      }
   }
}
a {
   color: inherit;
   transition: all .3s;
   &:hover {
      color: unset;
   }
}
ol,ul {
   list-style: none;
   margin-bottom: 0;
   padding: 0;
}
p {
   margin-bottom: 0;
}
small {
   opacity: .8;
}
.inner {
   max-width: 1080px;
   padding: 0 40px;
   margin: 0 auto;
}
form {
   max-width: 680px;
}


#error_explanation {
   border: 1px solid #ff4500;
   padding: 1rem 0;
   margin: 1rem 0;
   h2 {
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1rem;
   }
   ul {
      color: #ff4500;
   }
}
.flash-notifications {
   line-height: 2.2;
   font-weight: bold;
   color: white;
   text-align: center;
   .success {
      background-color: #198754;
   }
   .notice {
      background-color: #add8e6;
   }
   .danger {
      background-color: #dc3545;
   }
   .alert {
      background-color: #ff4500;
   }
}


.devise-links {
   a {
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }
}