/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "top";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

ul {
   margin-bottom: 0;
}
a {
   color: inherit;
   &:hover {
      color: unset;
   }
}
form {
   max-width: 680px;
}
.devise-links {
   a {
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }
}
#error_explanation {
   border: 1px solid #ff4500;
   padding: 1rem 0;
   margin: 1rem 0;
   h2 {
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1rem;
   }
   ul {
      color: #ff4500;
   }
}
.flash-notifications {
   padding: 0.5rem 1rem;
   font-weight: bold;
   color: white;
   text-align: center;
   .notice {
      background-color: #add8e6;
   }
   .alert {
      background-color: #ff4500;
   }
}
