/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "static_pages";
@import "rooms";
@import "questions";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
   background: #f2f2f2;
   color: #241916;
   font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic",
      "Meiryo", sans-serif;
   h2 {
      font-size: 1.6rem;
   }
   h3 {
      font-size: 1.3rem;
   }
}
section {
   padding: 60px 0;
}
.btn {
   background: #fff;
   &.btn-primary {
      background: #007bff;
   }
}
.ready {
   font-weight: bold;
   color: #45cfb8;
   animation: flash 1.5s linear infinite;
   @keyframes flash {
      0%,
      100% {
         opacity: 100%;
      }

      50% {
         opacity: 50%;
      }
   }
}
header,
footer {
   padding: 10px 0;
   background: #ffd739;
   margin: 0;
}
header {
   .logo {
      font-size: 1.5rem;
      color: #203690;
      font-weight: bolder;
      text-shadow:
         1px 1px 3px #fff,
         1px -1px 3px #fff,
         -1px 1px 3px #fff,
         -1px -1px 3px #fff;
   }
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
         display: block;
         nav ul {
            justify-content: end;
         }
      }
   }
}
footer {
   text-align: center;
   .footer-links {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
         margin: 0 10px;
      }
   }
}
a {
   color: inherit;
   transition: all 0.3s;
   &:hover {
      color: inherit;
   }
}
a[href="#"] {
   color: #007bff;
   text-decoration: underline;
}
ol,
ul {
   list-style: none;
   margin-bottom: 0;
   padding: 0;
}
p {
   margin-bottom: 0;
}
small {
   line-height: 1.8;
   display: block;
   opacity: 0.8;
}
.inner {
   max-width: 1080px;
   padding: 0 40px;
   margin: 0 auto;
   @media screen and (max-width: 600px) {
      padding: 0 15px;
   }
}
form {
   max-width: 680px;
}

.popup {
   display: none;
   height: 100vh;
   width: 100%;
   background: rgba(black, .7);
   position: fixed;
   top: 0;
   left: 0;
   &.show {
      display: flex;
      justify-content: center;
      align-items: center;
  }
   &-content{
      position: relative;
      z-index: 2;
      background: #fff;
      border: 5px solid #ffd739;
      padding: 30px;
      width: 90%;
      max-width: 480px;
      max-height: 60vh;
      overflow: scroll;
      &_inner {
         ul {
            margin-top: 10px;
            list-style: disc inside;
         }
      }
      a {
         position: absolute;
         top: 15px;
         right: 15px;
      }
   }
}

#error_explanation {
   border: 1px solid #ff4500;
   padding: 1rem 0;
   margin: 1rem 0;
   h2 {
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1rem;
   }
   ul {
      color: #ff4500;
   }
}
.flash-notifications {
   line-height: 2.2;
   font-weight: bold;
   color: white;
   text-align: center;
   .success {
      background-color: #198754;
   }
   .notice {
      background-color: #add8e6;
   }
   .danger {
      background-color: #dc3545;
   }
   .alert {
      background-color: #ff4500;
   }
}

// devise
.registrations,
.passwords,
.sessions {
   section {
      padding: 30px 0;
   }
   form {
      margin-top: 20px;
      label {
         margin-bottom: 0px;
      }
   }
}
.devise-links {
   a {
      &:not(:last-child) {
         margin-right: 2rem;
      }
   }
}
