// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body.rooms {
    form {
        .form-group {
            display: flex;
            input[type="text"] {
                width: 180px;
                margin-right: 5px;
            }
        }
    }
}