// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body.rooms {
    > .container {
        min-height: 560px;
        @media screen and (max-width: 600px ) {
            min-height: auto;
        }
    }
    .search-room {
        .form-group {
            display: flex;
            input[type="text"] {
                max-width: 320px;
                margin-right: 5px;
            }
        }
    }
    .room-links {
        margin-top: 15px;
    }
    .rooms_new {
        form {
            margin-top: 10px;
            .form-group {
                max-width: 400px;
                label {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .rooms_show {
        &-info {
            display: inline-block;
            margin-bottom: 20px;
            background: #fff;
            border-radius: 20px;
            border: 3px solid #ffd739;
            padding: 20px 40px;
            @media screen and (max-width: 600px ) {
                padding: 20px 20px;
            }
            .share-data {
                margin: 10px 0;
                padding: 10px 5px;
                border-top: 2px solid #ffd739;
                border-bottom: 2px solid #ffd739;
                dl {
                    display: flex;
                    // align-items: center;
                    margin-bottom: 0;
                    dt,dd {
                        margin-bottom: 0;
                        font-weight: normal;
                    }
                    dt {
                        flex-shrink: 0;
                    }
                }
                .copyBtn {
                    font-size: 0.8em;
                    margin-left: 5px;
                    padding: 3px 7px;
                    border-radius: 20px;
                    background: #ccc;
                    display: inline-block;
                    width: 55px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        &-content {
            form {
                label {
                    display: block;
                    margin-bottom: 0;
                }
                input[type="submit"] {
                    margin-top: 5px;
                }
            }
            ul {
                margin-top: 5px;
                list-style: disc inside;
            }
        }
    }
    .rooms_enter {
        form {
            margin-top: 20px;
            max-width: 280px;
        }
    }
    .rooms_result {
        table {
            margin-top: 10px;
            border-collapse: collapse;
            min-width: 40%;
            thead th {
                font-weight: normal;
                padding: 0.2rem 0.5rem;
            }
            td {
                border-bottom: 1px solid #ffd739;
                padding: 0 0.5rem;
            }
        }
        &-total {
            background: #fff;
            border-radius: 20px;
            border: 3px solid #ffd739;
            padding: 20px 40px;
            @media screen and (max-width: 600px ) {
                padding: 20px 20px;
            }
            tbody td:first-of-type {
                display: flex;
                align-items: center;
                .medal {
                    border-radius: 50%;
                    color: #fff;
                    width: 1.2em;
                    height: 1.2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: normal;
                    &.first {
                        background: #E3AB00;
                    }
                    &.second {
                        background: #C9CACA;
                    }
                    &.third {
                        background: #BA6E40;
                    }
                }
                .medal, i {
                    flex-shrink: 0;
                    margin-right: 5px;
                }
            }
        }
        &-item {
            opacity: .8;
            margin-top: 20px;
            background: rgba(#fff, 0.6);
            border-radius: 20px;
            border: 1px solid #ffd739;
            padding: 20px 40px;
            @media screen and (max-width: 600px ) {
                padding: 20px 20px;
            }
        }
    }
}
